:host {
    font-family: var(--font-primary);
    background-color: var(--primary);
    border: none;
    color: var(--lightBlue);
    padding: 13px 60px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 56px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

:host(.btn-icon) {
    background-color: var(--beige);
    border: none;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    font-size: 12px;
    color: #1b1b1b;
    padding: 7px;
    margin-top: 0;
}