:root {
    --primary: #533A33;
    --secondary: #849DBB;
    --inputColor: #E3DCD963;
    --neutral: #fffafa;
    --beige: #E3DCD9;
    --lightBlue: #B0D2EC;

    //Fonts
    --font-primary: 'Poppins', sans-serif;
    --font-heading: 'Syne', sans-serif;

}