@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tsnq8m');
  src:  url('fonts/icomoon.eot?tsnq8m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tsnq8m') format('truetype'),
    url('fonts/icomoon.woff?tsnq8m') format('woff'),
    url('fonts/icomoon.svg?tsnq8m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-fork-and-spoon:before {
  content: "\e906";
}
.icon-home-_1:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-list:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
