<div class="expense-wrapper">
  @for (category of categories; track category.id) {
  <div class="expense-cat">
    <h3>{{category.name}}</h3>

    <div class="expense">
      @if (getExpensesByCategory(category.id).length > 0) {
      @for (expense of getExpensesByCategory(category.id); track expense.id) {
      <p><strong>Descrição:</strong> {{ expense.description | titlecase }}</p>
      <p><strong>Valor:</strong> {{ expense.value}}</p>
      }
      } @else {
      <p>Nenhum gasto nesta categoria.</p>
      }
    </div>
  </div>
  }
</div>