<div class="expense-wrapper">
  @for (category of categories; track category.id) {

  <div class="expense-cat">
    <h3>{{category.name}} - {{ getTotalByCategory(category.id) | currency:'EUR'}} </h3>
    <span></span>
  </div>

  <div class="expense">
    @for (expense of expenses(); track expense.id) {
    @if(expense.categoryId === category.id) {
    <div class="expense-item">
      <p>{{ expense.description | titlecase }}</p>
      <p>{{ expense.value | currency:'EUR'}} </p>
      <button (click)="deleteExpense(expense.id)">Delete</button>
    </div>
    }

    }
  </div>
  }
</div>