.trip-list-wrapper {
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

li {
    background-color: var(--secondary);
    padding: 15px 20px;
    border-radius: 30px;

    a {
        color: #1b1b1b;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}