.container {

    .colors {
        &-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .item {
                width: 200px;
                height: 200px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .primary {
                background-color: var(--primary);
            }

            .secondary {
                background-color: var(--secondary);
            }

            .input {
                background-color: var(--inputColor);
            }

            .neutral {
                background-color: var(--neutral);
            }

            .beige {
                background-color: var(--beige);
            }
        }

    }

    .typography {

        .typo-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;

            .font-type {
                font-size: 12px;
            }

            .syne {

                .syne-header-1 {
                    font-size: 36px;
                    font-weight: 800;
                    font-family: var(--font-heading);
                }

                .syne-header-2 {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: var(--font-heading);
                }

                .syne-header-3 {
                    font-size: 18px;
                    font-family: var(--font-heading);
                    font-weight: 500;
                }
            }

            .poppins {

                h1,
                h3 {
                    font-family: var(--font-primary);
                }
            }
        }

    }

}




//component

// .btn {
//     font-family: var(--font-primary);
//     background-color: var(--primary);
//     border: none;
//     color: var(--lightBlue);
//     padding: 13px 60px;
//     border-radius: 30px;
//     cursor: pointer;
//     width: 100%;
//     height: 56px;
//     margin-top: 10px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 18px;
// }

// .btn-icon {
//     background-color: var(--beige);
//     border: none;
//     border-radius: 50px;
//     width: 48px;
//     height: 48px;
//     font-size: 20px;
// }